/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

/*
=======================
Variables
=======================
*/
:root {
--grey: #66E2DC;
--light-red: #FA7453;
--greeny-pink: #FFB964;
--off-white: #FCFAF9;
--off-black: #191826;
--var-h1: normal normal 700 clamp(2.3em, 4vw, 48px)/clamp(1em, 3vw, 48px) 'IBM Plex Sans', sans-serif;
--var-h2: normal normal 700 clamp(1.5em , 3.8vw, 40px)/clamp(1.2em , 3.2vw , 32px) 'IBM Plex Sans', sans-serif;
--var-body1: normal normal 400 20px/34px 'IBM Plex Sans', sans-serif;
--var-body2: normal normal 400 16px/26px 'IBM Plex Sans', sans-serif;
}

/*
=======================
Set up
=======================
*/

html,	body,	div,	span,	object,	iframe,
h1,	h2,	h3,	h4,	h5,	h6,
p,	blockquote,	pre,	abbr,	address,
cite,	code,	del,	dfn,	em,	img,
ins,	kbd,	q,	samp,	small,	strong,
sub,	sup,	var,	b,	i,	dl,
dt,	dd,	ol,	ul,	li,	fieldset,
form,	label,	legend,	table,	caption,
tbody,	tfoot,	thead,	tr,	th,	td,
article,	aside,	canvas,	details,
figcaption,	figure,	footer,	header,	hgroup,
menu,	nav,	section,	summary,
time,	mark,	audio,	video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
html {
        box-sizing: border-box;
}

*,*::before, *::after {
        box-sizing: inherit;
}

/*
===================
Helper Classes
===================
*/
/*Flex*/

.flex {
        display: flex;
}

.flex-center {
        justify-content: center;
        align-items: center;
}

.flex-column {
        flex-direction: column;
}


.grid {
        display: grid;
}

/*
=======================
Typography
=======================
*/

h1 {
        font: var(--var-h1)
}

h2 {
        font: var(--var-h2);
}

p {
        font: var(--var-body2)
}

/*
=======================
Layout
=======================
*/

.container {
        width: 100%;
        margin: 0 auto;
}

.one, .call-to-action {
        padding: 0 3.5rem;
}

/*
=======================
Media Queries
=======================
*/

/* Other */

.black-bg {
        position: relative;
        margin-top: 100px;
        background-color: var(--off-black);
        border-radius: 16px;
        width: 100%;
}

.picture {
        background-image: url('assets/bg-pattern-2.svg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
}

.phone-img {
        transform: translate(0px, -23%);
        display: block;
        width: min(300px, 60%);
        margin: 0 auto;
}

.call-to-action {
        position: relative;
        background-color: var(--light-red);
        border-radius: 16px;
        padding: 1em;
        margin-top: -10%;
}

footer {
        width: 90%;
        padding: 1em;
}